body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color:slategrey;
}

h1 {
    font-size: 35px;
    color:white;
    margin-top:-10px;
    width:100%;
    background-color:darkslategray;
    border-radius: 5px;
    padding:10px 0px 10px 0px;
}
#container {
    width:600px;
    height:500px;
    margin:auto;
    background-color:beige;
    border:2px solid darkslategray;
    border-radius: 10px;
    padding:20px;
}

#info{
    color:darkslategray;
    font-size: 18px;
    margin-bottom: 20px;
}

#scores {
    border: 0px solid black;
    width:400px;
    margin: auto;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

#pc-score{
    color:darkcyan;
    flex:1;
}

#player-score {
    color:darkcyan;
    flex:1;
}

#game {
    margin-top:30px;
    font-size: 20px;
    height: 30px;
    color:orange;
    font-weight: bold;
}

#images {
    display: flex;
    width:400px;
    margin:auto;
    border:0px solid blue;
    justify-content: space-around;
}

#pcimg, #playerimg{
    width:150px;
    height:150px;
    border:0px solid gray;
    
}

.paper {
    background-image: url("images/paper.png");
    background-repeat: no-repeat;
}

.rock {
    background-image: url("images/rock.png");
    background-repeat: no-repeat;
}
.scissors {
    background-image: url("images/scissors.png");
    background-repeat: no-repeat;
}

button {
    width:100px;
    height:30px;
    border:0px solid darkslategray;
    color:white;
    background-color:cadetblue;
    font-weight: bold;
    margin-right: 15px;
    border-radius: 5px;
}
button:hover {
    background-color:darkslategrey;
    cursor:grab;
    
}

button.newGame {
    background-color: darkcyan;
}
button.newGame:hover {
    background-color:orangered;
}